{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 side">
        {% include "sidenav.html" %}
      </div>
      <div class="col-md-10 col-md-offset-2 main">
        {% include "appnav.html" %}
        <div class="files-header">
          <h1 class="text-info">All Of My Files</h1>
        </div>
        <div class="content-main">
          {% for file in fullview.data.file %}
          <div class="file-row">
            <a href="#" class="text-info">
              <i class="material-icons">insert_drive_file</i>
              {{file.name}}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}