{% extends 'base.html' %}
{% block content %}
{% load percentage %}
{% load bytes_human %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 side">
        {% include "sidenav.html" %}
      </div>
      <div class="col-md-10 col-md-offset-2 main">
        {% include "appnav.html" %}
        <div class="files-header">
          <h1 class="text-info">All Of My Files</h1>
        </div>
        <div class="content-main">
          <h4>
              <span class="label label-primary">Used {{account.usage.quota_used|bytes_human}} of {{account.usage.quota|bytes_human}}</span>
          </h4>
          <div class="progress progress-striped active mtop30 usage">
              <div class="progress-bar" style="width: {% percentage account.usage.quota_used account.usage.quota %}%"></div>
          </div>
         <!-- file loop start here -->
        {% if uid %}

            {% for playlistitem in playlist_items.playlist.playlistElement %}

                <div class="file-row">
                <a href="/explorer/playlists?playlist_uid={{ playlistitem.uid }}" class="text-info">
                <i class="material-icons">insert_drive_file</i>
                {{playlistitem.title}}
                </a>
                </div>
            {% endfor %}
        {% else %}

        {% for playlist in playlists  %}
        <div class="file-row">
            <a href="/explorer/playlists?playlist_uid={{ playlist.uid }}" class="text-info">
            <i class="material-icons">insert_drive_file</i>
            {{playlist.name}}
            </a>
                <div style="float:right;width: 60%;">
              <a href="/explorer/playlists?playlist_uid={{ playlist.uid }}">Playlist Items</a>
              <a href="/explorer/playlists?playlist_uid={{ playlist.uid }}">Update Playlist defination</a>
              <a href="/explorer/playlists?playlist_uid={{ playlist.uid }}">Delete Playlist</a>
                </div>
        </div>
        {% endfor %}
        {% endif %}
	<!-- end of the file loop start here -->
        </div>
      </div>
    </div>
</div>
{% endblock %}