<div class="header">
	<div class="clearfix">
		<h3 class="text-success">Verizon Cloud File Explorer</h3>
	</div>
</div>
<div class="body nav-links">
	<a href="{% url 'files' %}" class="btn btn-primary btn-block">All of my files</a>
	<a href="{% url 'metadata' %}" class="btn btn-primary btn-block">File explorer</a>
	<a href="{% url 'trash' %}" class="btn btn-primary btn-block">Trash</a>
	<a href="{% url 'playlists' %}" class="btn btn-primary btn-block">Playlists</a>
</div>
<div class="footer">
	<a class="btn btn-primary btn-block withripple" href="{% url 'logout' %}">Logout</a>
</div>