{% extends 'base.html' %}
{% block content %}
{% load percentage %}
{% load bytes_human %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 side">
        {% include "sidenav.html" %}
      </div>
      <div class="col-md-10 col-md-offset-2 main">
        {% include "appnav.html" %}
        <div class="files-header">
          <h1 class="text-info">My Playlists</h1>
        </div>
        <div class="content-main">
        {% if favorites.errors %}
         {{ "<h4 style='color:red; margin:20px;'>ERROR"}} {{ favorites.errors.error_code }}{{ ":" }} {{ favorites.errors.error_description }}  {{ "</h4>" }}
        {% endif %}
        {% for favorite in  favorites.favorites.file   %}
        <div class="file-row">
            <a href="#" class="text-info">
            <i class="material-icons">insert_drive_file</i>
            {{favorite.name}}
            </a>
         <div style="float:right;width: 60%;">
            <a href="updatefavoritesform">Update favorite</a> ||
            <a href="deletefavoritesform">Delete favorite</a>
            </div>
        </div>

        {% endfor %}
	<!-- end of the file loop start here -->
        </div>
      </div>
    </div>
</div>
{% endblock %}