
{% include "header.html" %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-2 side">
            {% include "sidebar.html" %}
		</div>
		<div class="col-md-10 col-md-offset-2 main">
			<div class="navbar navbar-inverse mbot0">
                {% include "navbar.html" %}
			</div>
			<div class="files-header">
				<h1 class="text-info">Account Details</h1>
			</div>
			<div class="content-main">
				<!--Usage block -->
				<h4>
                    <!--<span class="label label-primary">  {{fullview}}</span>
                    -->

				</h4>
                {% for d in fullview.data.data.folder %}
                <div class="file-row">
                    <a href="/workon{{d.parentPath}}/{{d.name}}" class="text-info">
                       <i class="material-icons">folder_open</i>
                       {{d.name}}
                    </a>


                </div>
                {% endfor %}

                {%for f in fullview.data.data.file %}
                <div class="file-row">
                    <a href="/workon/{{f.parentPath}}/{{f.name}}" class="text-info">
                       <i class="material-icons">insert_drive_file</i>
                       {{f.name}}
                    </a>
                </div>
                {% endfor %}

				
			</div>
		</div>
	</div>
</div>
</body></html>
