<?php
/**
 * Copyright © 2015-2016, Verizon and/or its Licensors. All rights reserved.
 *
 */

?>

<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse navbar-inverse-collapse">
		<ul class="nav navbar-nav">
		</ul>
		<form class="navbar-form navbar-left" action="search.php" method="post">
			<button class="btn waves-effect waves-light form-group" type="submit" name="action">
				<i class="material-icons right searchbutton" >search</i>
			</button>
			<div class="form-group">
				<input type="text" name="searchstring" class="form-control col-md-8" placeholder="Search">
			</div>
		</form>
		<ul class="nav navbar-nav navbar-right file-actions">

			<li>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#fileupload-dialog" id="upload" title="Upload File">
				<i class="material-icons">file_upload</i>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#copy-dialog" id="copy" title="Copy Folder/File">
				<i class="material-icons">content_copy</i>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#move-dialog" id="move" title="Move Folder/File">
				<i class="material-icons">content_cut</i>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#delete-dialog" id="delete" title="Delete Folder/File">
				<i class="material-icons">delete</i>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#create-dialog" title="Create Folder">
				<i class="material-icons">create_new_folder</i>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#create-playlist-dialog" id="newplaylist" title="Create Playlist">
				<i class="material-icons">queue_music</i>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#trash-dialog" title="Delete Trash">
				<i class="material-icons">delete_forever</i>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)" id="restore" title="Restore Trash">
				<i class="material-icons">settings_backup_restore</i>
				</a>
			</li>

			
		</ul>
	</div>
</div>
<!-- popup for create folder -->
<div id="create-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" style="color:#000;">Create Folder</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="file-explorer.php">
		  <div class="form-group">
			<label for="email">Name:</label>
			<input type="text" class="form-control" name="foldername" id="foldername">
		  </div>
		  <div class="form-group">
			<label for="email">Path:</label>
			<input type="text" class="form-control" name="path" id="path">
		  </div>
		  <div class="form-group">
			<label for="email">Override:</label>
			<input type="text" class="form-control" name="override" id="override" value="modify">
		  </div>
		  <!--
		  <div class="form-group">
			<label><input type="checkbox" name="override" id="override"> Override</label>
		  </div>
		  -->
		  <input type="hidden" name="action" value="newfolder">
		  <input type="submit" name="submit" id="submit" class="btn btn-default" />
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
<!-- end of the create folder popup-->


<!-- popup for file upload -->
<div id="fileupload-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" style="color:#000;">File Upload</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="upload.php">
		  <div class="form-group">
			<label for="path">Path:</label>
			<input type="text" class="form-control" name="path" id="path">
		  </div>
		  <div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" name="name" id="name">
		  </div>
		  <div class="form-group">
			<label for="size">Size:</label>
			<input type="text" class="form-control" name="size" id="size">
		  </div>
		  <div class="form-group">
			<label for="checksum">Checksum:</label>
			<input type="text" class="form-control" name="checksum" id="checksum">
		  </div>
		  <div class="form-group">
			<label for="chunk">Chunk:</label>
			<select name="chunk" id="chunk">
				<option value="false">False</option>
				<option value="true">True</option>
			</select>
		  </div>
			
		  
		  <input type="hidden" name="action" value="fileuploadintent">
		  <input type="submit" name="submit" id="submit" class="btn btn-default" />
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
<!-- end of the the file upload -->




<!-- popup for create playlist -->
<div id="create-playlist-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" style="color:#000;">Create Playlist</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="playlist.php">
		  <div class="form-group">
			<label for="playlistname">Name:</label>
			<input type="text" class="form-control" name="playlistname" id="playlistname">
		  </div>
		   <div class="form-group">
			<label for="playlistpath">Paths (Comma seprated):</label>
			<input type="text" class="form-control" name="playlistpath" id="playlistpath">
		  </div>
		  <div class="form-group">
			<label for="playlisttype">Type:</label>
			<input type="text" class="form-control" name="playlisttype" id="playlisttype">
		  </div>
		  <input type="hidden" name="action" value="createplaylist">
		  <input type="hidden" name="updateplaylistdefinitionid" id="updateplaylistdefinitionid" value="">
		  <input type="submit" name="submit" id="submit" class="btn btn-default" />
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
<!-- end of the the create playlist -->


<!-- add playlist item pop up -->
<div id="add-item-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" style="color:#000;">Add Playlist</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="">
		   <div class="form-group">
			<label for="playlistpath">Paths (Comma seprated):</label>
			<input type="text" class="form-control" name="addplaylistpath" id="addplaylistpath">
		  </div>
		  <input type="hidden" name="addplaylistUid" value="<?php echo $_GET['playlistUid']; ?>">	
		  <input type="hidden" name="action" value="addplaylistitem">
		  <input type="submit" name="submit" id="submit" class="btn btn-default" />
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
<!-- end of the the create playlist -->

<!-- rename playlist name popup -->
<div id="rename-playlist-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" style="color:#000;">Rename Playlist</h4>
      </div>
      <div class="modal-body">
        <form role="form" method="post" action="">
		  <div class="form-group">
			<label for="renameplaylistname">Name:</label>
			<input type="text" class="form-control" name="renameplaylistname" id="renameplaylistname">
		  </div>
		  <div class="form-group">
			<label for="renameplaylisttype">Type:</label>
			<input type="text" class="form-control" name="renameplaylisttype" id="renameplaylisttype">
		  </div>
		  <input type="hidden" name="renameplaylistUid"   id="renameplaylistUid" value="">	
		  <input type="hidden" name="action" value="renameplaylist">
		  <input type="submit" name="submit" id="submit" class="btn btn-default" />
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>
<!-- end of rename playlist popup -->
<!-- Trash Popup -->
<div id="trash-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title" style="color:#000;">Delete Trash</h4>
	  </div>
	  <form method="post" action="trash.php" name="purgetrashform" id="purgetrashform">
	  <div class="modal-body">
		  <div class="form-group">
			<label for="virtual_folder">Virtual Folder:</label>
			<input type="text" class="form-control" name="virtual_folder" id="virtual_folder">
		  </div>	
		  <input type="hidden" name="action" value="purgetrash" id="purgeoperation">
		  <input type="submit" name="submit" id="submit" class="btn btn-default" />
		
	  </div>
	  </form>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
	  </div>
	</div>
  </div>
</div>
<!-- end of Trash Popup -->


<!-- Delta Popup -->
<div id="delta-dialog" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title" style="color:#000;">Delta View</h4>
	  </div>
	  <form method="post" action="" name="deltacallform" id="deltacallform">
	  <div class="modal-body">
		  <div class="form-group">
			<label for="dvirtual_folder">Virtual Folder:</label>
			<input type="text" class="form-control" name="dvirtual_folder" id="dvirtual_folder">
		  </div>
		  <div class="form-group">
			<label for="xheader_tag">X-Header-ETag:</label>
			<input type="text" class="form-control" name="xheader_tag" id="xheader_tag">
		  </div>	
		  <input type="hidden" name="action" value="deltacall" id="deltacall">
		  <input type="submit" name="submit" id="submit" class="btn btn-default" />
		
	  </div>
	  </form>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
	  </div>
	</div>
  </div>
</div>
<!-- end of Delta Popup -->

