<?php
/**
 * Copyright © 2015-2016, Verizon and/or its Licensors. All rights reserved.
 *
 */

?>
        <side-navigation class="ng-scope"><div class="header">
	<div class="clearfix">
		<h3 class="text-success">Verizon Cloud File Explorer</h3>
	</div>
</div>
<div class="body nav-links">
	<a  class="btn btn-primary btn-block <?php
        if(strpos($_SERVER['REQUEST_URI'], 'account.php') !== false):
        ?>active<?php endif; ?>" href="accountusage">Account</a>
	<a  class="btn btn-primary btn-block <?php if(strpos($_SERVER['REQUEST_URI'], 'search_form.php') !== false): ?>active<?php endif; ?>" href="search_form.php">Search</a>
	<a  class="btn btn-primary btn-block <?php if(strpos($_SERVER['REQUEST_URI'], 'dashboard.php') !== false): ?>active<?php endif; ?>" href="dashboard.php">All of my files</a>
	<a  class="btn btn-primary btn-block <?php if(strpos($_SERVER['REQUEST_URI'], 'file-explorer.php') !== false): ?>active<?php endif; ?>"  href="file-explorer.php">File explorer</a>
	<a  class="btn btn-primary btn-block <?php if(strpos($_SERVER['REQUEST_URI'], 'playlist_form.php') !== false): ?>active<?php endif; ?>"  href="playlist_form.php">Playlists</a>
	<a  class="btn btn-primary btn-block <?php if(strpos($_SERVER['REQUEST_URI'], 'contact.php') !== false): ?>active<?php endif; ?>" href="contact.php">Contacts</a>
	<a  class="btn btn-primary btn-block <?php if(strpos($_SERVER['REQUEST_URI'], 'trash.php') !== false): ?>active<?php endif; ?>" href="trash.php">Trash</a>
    <a  class="btn btn-primary btn-block <?php if(preg_match('~\bshare.php\b~',$_SERVER['REQUEST_URI'])): ?>active<?php endif; ?>" href="share.php">Shares</a>
    <a  class="btn btn-primary btn-block <?php if(preg_match('~\bcreateshare.php\b~',$_SERVER['REQUEST_URI'])): ?>active<?php endif; ?>" href="createshare.php">Create Share</a>
    <a  class="btn btn-primary btn-block <?php if(preg_match('~\btag.php\b~',$_SERVER['REQUEST_URI'])): ?>active<?php endif; ?>" href="tag.php">Tags</a>
	<a  class="btn btn-primary btn-block <?php if(preg_match('~\bupdatetag.php\b~',$_SERVER['REQUEST_URI'])): ?>active<?php endif; ?>" href="settag.php">Set Tag</a>
	<a  class="btn btn-primary btn-block <?php if(strpos($_SERVER['REQUEST_URI'], 'refresh_token.php') !== false): ?>active<?php endif; ?>" href="refresh_token.php">Refresh Token</a>
	<a  class="btn btn-primary btn-block <?php if(preg_match('~\bdeletetag.php\b~',$_SERVER['REQUEST_URI'])): ?>active<?php endif; ?>" href="deletetag.php">Delete Tag</a>
	<a class="btn btn-primary btn-block" href="logout.php">Logout</a>
</div>
</side-navigation>

