<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<title>Kepler File Explorer</title>


		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Material Design fonts an CSS -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/bootstrap-material-design.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.7/css/ripples.min.css">



		<!-- our css on top of everything else -->
		<link rel="stylesheet" href="style.css">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

<body >
	<div class="container main-content-padding">
		<div class="row">
		  <div class="col-md-8 col-md-offset-2 text-center">
		    <div class="jumbotron mtop50 login-box">
		      <div class="header">
		        <h1>Kepler Cloud File Explorer</h1>
		      </div>
		      <div class="body">
		        <p class="mtop30">The Kepler Cloud File Explorer is a demo project that leverages the <a href="https://thingspace.verizon.com/developer/apis#/vzcloud/index.html" target="_blank"><b>Php Cloud SDK</b></a> to authenticate and display a user's Cloud contents.  The demo is built using <a href="http://getbootstrap.com/" target="_blank">Bootstrap 3</a>, <a href="https://secure.php.net/" target="_blank">Php</a>, and styled with <a href="http://fezvrasta.github.io/bootstrap-material-design/" target="_blank">Bootstrap Material Design</a>.</p>

		        <p class="mtop30">
		          <a class="btn btn-primary btn-xlg btn-raised" href="/auth">
		            <i class="material-icons">cloud_circle</i> Sign in with Verizon Cloud
		          </a>
		        </p>
		      </div>
		    </div>
		    <?php if(isset($error)): ?>
		    <div class="alert alert-dismissible alert-danger">
		      <button type="button" class="close" data-dismiss="alert">×</button>
		      <strong>Could not authenticate</strong>
			  <?php echo $error; ?>
		    </div>
			<?php endif; ?>
		  </div>
		</div>
	  </div><!-- /.container -->

</body>
</html>

