{% extends 'base.html' %}
{% block content %}
{% load percentage %}
{% load bytes_human %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 side">
        {% include "sidenav.html" %}
      </div>
      <div class="col-md-10 col-md-offset-2 main">
        {% include "appnav.html" %}
        <div class="files-header">
          <h1 class="text-info">{{playlist.name}} </h1>
        </div>
        <div class="content-main">
        {% for item in playlist_items  %}
        <div class="file-row">
            <a href="{{ item.download_url }}" class="text-info">
            <i class="material-icons">insert_drive_file</i>
            {{item.filename}}
            </a>
        <div style="float:right;width: 60%;">
            <a href="/playlist/deleteplaylistitem/{{ playlist.uid }}/{{ item.itemuid }}">Delete Item</a>
            </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
</div>
{% endblock %}